<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="customer">
      <label for="fullName">Nombre y Apellido(s)*</label>
      <input id="fullName" type="text" formControlName="fullName">

      @if (!form.controls.customer.controls.fullName.untouched && form.controls.customer.controls.fullName.invalid) {
        <p>Bad</p>
      }

      <label for="contactNumber">Teléfono de contacto*</label>
      <input id="contactNumber" type="number" formControlName="contactNumber">

      <label for="email">Correo electrónico*</label>
      <input id="email" type="email" formControlName="email">
    </div>

    <label for="deliveryOption">¿Viene a recoger o se lo mandamos a domicilio?*</label>
    <select id="deliveryOption">
      <option (click)="checkoutFormService.showStoreDeliveryOption()">A domicilio</option>
      <option (click)="checkoutFormService.hideStoreDeliveryOption()">Recoger</option>
    </select>

    @if (checkoutFormService.storeDeliveryOptionVisibility) {
      <div formGroupName="address">
        <label for="street">Dirección*</label>
        <input id="street" type="text" formControlName="street">

        <label for="streetNumber">Número*</label>
        <input id="streetNumber" type="number" formControlName="number">

        <p>Interior</p>

        <label for="portal">Portal</label>
        <input id="portal" type="text" formControlName="portal">

        <label for="staircase">Escalera</label>
        <input id="staircase" type="text" formControlName="staircase">

        <label for="floor">Piso</label>
        <input id="floor" type="text" formControlName="floor">

        <label for="door">Puerta</label>
        <input id="door" type="text" formControlName="door">
      </div>
    }

    <div formGroupName="orderDetails">

      <label for="deliveryNow">Hora de entrega*</label>
      <select id="deliveryNow" formControlName="deliverNow">
        <option [ngValue]="true" (click)="checkoutFormService.hideProgrammedDeliveryTime()">Lo antes posible</option>
        <option [ngValue]="false" (click)="checkoutFormService.showProgrammedDeliveryTime()">Hora programada</option>
      </select>

      @if (checkoutFormService.programmedDeliveryTimeVisibility) {
        <label for="deliveryTime">Seleccionar hora de entrega*</label>
        <select id="deliveryTime" formControlName="deliveryTime">
          <option value="15:00">15:00</option>
          <option value="13:00">13:00</option>
        </select>
      }

      <label for="paymentMethod">Método de pago*</label>
      <select id="paymentMethod" formControlName="paymentMethod">
        <option value="Tarjeta"
                (click)="checkoutFormService.disallowRequestChangeOption(form.controls.orderDetails.controls.changeRequested)">
          Tarjeta
        </option>
        <option value="Efectivo"
                (click)="checkoutFormService.allowRequestChangeOption(form.controls.orderDetails.controls.changeRequested)">
          Efectivo
        </option>
      </select>

      <label for="changeRequested">¿Necesita cambio?*</label>
      <select id="changeRequested" formControlName="changeRequested">
        <option value="V" (click)="checkoutFormService.showChangeRequestInput()">Sí</option>
        <option value="F" (click)="checkoutFormService.hideChangeRequestInput()">No</option>
      </select>

      @if (checkoutFormService.changeRequestInput) {
        <label for="changeToGive">Cambio de*</label>
        <input id="changeToGive" type="number" formControlName="changeToGive">
      }

      <label for="comment">Observaciones</label>
      <textarea id="comment" formControlName="comment"></textarea>
    </div>

    <button type="submit">REALIZAR PEDIDO</button>
  </form>
  <app-cart/>
</div>

