<form [formGroup]="anonUserCheckoutFormForm" (ngSubmit)="onSubmit()">
    <div formGroupName="customer">
      <label for="fullName">Nombre y Apellido(s)*</label>
      <input id="fullName" type="text" formControlName="fullName">

      <label for="contactNumber">Teléfono de contacto*</label>
      <input id="contactNumber" type="number" formControlName="contactNumber">

      <label for="email">Correo electrónico*</label>
      <input id="email" type="email" formControlName="email">
    </div>

  <div formGroupName="address">
    <label for="street">Dirección*</label>
    <input id="street" type="text" formControlName="street">

    <label for="streetNumber">Número*</label>
    <input id="streetNumber" type="number" formControlName="number">

    <p>Interior</p>

    <label for="portal">Portal</label>
    <input id="portal" type="text" formControlName="portal">

    <label for="staircase">Escalera</label>
    <input id="staircase" type="text" formControlName="staircase">

    <label for="floor">Piso</label>
    <input id="floor" type="text" formControlName="floor">

    <label for="door">Puerta</label>
    <input id="door" type="text" formControlName="door">
  </div>

  <div formGroupName="orderDetails">

    <label for="deliveryNow">Hora de entrega*</label>
      <select id="deliveryNow" formControlName="deliverNow">
        <option [ngValue]="true">Lo antes posible</option>
        <option [ngValue]="false">Hora programada</option>
      </select>

    <label for="deliveryTime">Seleccionar hora de entrega*</label>
    <select id="deliveryTime" formControlName="deliveryTime">
      <option value="15:00">15:00</option>
      <option value="13:00">13:00</option>
    </select>

    <label for="paymentMethod">Método de pago*</label>
    <select id="paymentMethod" formControlName="paymentMethod">
      <option value="Card">Tarjeta</option>
      <option value="Cash">Efectivo</option>
    </select>

    <label for="changeRequested">¿Necesita cambio?*</label>
    <select id="changeRequested" formControlName="changeRequested">
      <option [ngValue]="true">Sí</option>
      <option [ngValue]="false">No</option>
    </select>

    <label for="changeToGive">Cambio de*</label>
    <input id="changeToGive" type="number" formControlName="changeToGive">

    <label for="comment">Observaciones</label>
    <textarea id="comment" formControlName="comment"></textarea>
  </div>
  <button type="submit" [disabled]="!anonUserCheckoutFormForm.valid">REALIZAR PEDIDO</button>
</form>
